/* Reset default margin and padding */
* {
    box-sizing: border-box;
}

/* Body Styling */

.content-container {
    padding: 30px;
}

/* flashcard styling */

.flashcard-container {
    perspective: 1000px;
}

.flashcard {
    width: 200px;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.flashcard .front, .flashcard .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.flashcard .back {
    transform: rotateY(180deg);
}

/* Modal Styling */
/* Modal body styling */
/* .modal-body { */
    /* background-color: white; Ensure the modal body has a solid background color */
    /* padding: 20px; Add some padding for better appearance */
/* } */

/* Modal header styling */
/* .modal-header { */
    /* background-color: #f8f9fa; Light grey background for the header */
    /* border-bottom: 1px solid #dee2e6; Add a border to separate the header */
/* } */

/* Modal content styling */
/* .modal-content { */
    /* background-color: white; Ensure the entire modal content has a solid background color */
    /* border-radius: 5px; Optional: Add rounded corners */
    /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); Optional: Add a shadow for better visibility */
/* } */

/* Navbar Styling */

@media (min-width: 990px) {
    nav.navbar {
    height: 90px;
    }
}

/* Student Home Page Styling */

.student-home-title {
    margin-bottom: 20px;
}

.student-home-content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.student-home-lists .flashcard {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student-home-lists .flashcard-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-home-lists .flashcard-title {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.student-home-lists .btn {
    margin-top: auto;
}

/* Removes non-necessary content when below a given size */
@media screen and (max-width: 767px) { /* aligns with md breakpoint */
    .non-priority {
        display: none;
    }
}