{% extends 'layout.html' %}

{% block body %}

<div class="nav">
    <div class="nav-item">
        <a href="/admin_dashboard">Home</a>
    </div>
    <div class="nav-item">
        <a href="/admin_dashboard/users">User Management</a>
    </div>
    <div class="nav-item">
        <a href="/admin_dashboard/lists">List Management</a>
    </div>
    <div class="nav-item">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

<form action="{{ url_for('assign_lists') }}" method="POST">
    <label for="user_id">Student Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="list_id">List Name:</label>
    <input type="text" name="listname" id="listname" required>
    <button type="submit">Assign List</button>
</form>
{% endblock %}