<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>KanaCard</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class='flash-messages'>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <div class="wrapper">
        <nav>
            <ul>
                <li class='nav-item {% if request.path == '/student_dashboard' %}active{% endif %}'>
                    <a href='/student_dashboard'>Home</a>
                </li>
                <li class='nav-item {% if request.path == '/student_profile' %}active{% endif %}'>
                    <a href='/student_profile'>Profile</a>
                </li>
                <li class='nav-item logout-item'>
                    <form action='/logout' method='post'>
                        <button type='submit' class="logout-button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
        
        {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>