{% extends 'layout.html' %}

{% block body %}
<div class='content-container'>
    <h1 class='title mb-3 border-bottom'>List Management</h1>
    <table class='listList table table-dark table-striped table-bordered table-hover table-responsive{-md}'> 
        <thead>
            <tr>
                <th class="non-priority">List ID</th>
                <th>List Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td class="non-priority">{{ list[0] }}</td>
                <td>{{ list[1] }}</td>
                <td class="edit">
                    <button class="btn btn-primary" title="Edit" onclick="openListEditModal('{{ list[0] }}', '{{ list[1] }}')">&#9998;</button>
                </td>
                <td class="delete">
                    <form action="{{ url_for('delete_item') }}" method="POST">
                        <input type="hidden" name="delete_index" value="{{ list[0] }}">
                        <input type="hidden" name="delete_type" value="list">
                        <button class="btn btn-danger" title="Delete">&#128465;</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class='search-container mt-4 mb-4'>
        <label for='search'>Search:</label>
        <input type='text' id='search' class='form-control' onkeyup='searchListTable()' placeholder='Search for lists...'>
    </div>
    <div class='alert alert-danger' id='search-error' style='display: none;'>
        No results found.
    </div>
    <div class="button-container mt-4 mb-4 text-center d-flex flex-wrap justify-content-center">
        <button class="btn btn-primary m-2" data-toggle="modal" data-target="#addListModal">Add New List</button>
        <button class="btn btn-primary m-2" data-toggle="modal" data-target="#assignListModal">Assign Lists</button>
    </div>
</div>

<!-- Edit List Modal -->
<div id="editListModal" class="modal fade" tabindex="-1" aria-labelledby="editListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editListModalLabel">Edit List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('edit_item') }}" method="POST">
                    <input type="hidden" name="edit_index" id="edit_index">
                    <input type="hidden" name="edit_type" value="list">
                    <div class="mb-3">
                        <label for="new_listname" class="form-label">List Name:</label>
                        <input type="text" class="form-control" name="new_listname" id="new_listname">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add List Modal -->
<div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addListModalLabel">Add New List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('add_list') }}" method="POST">
                    <div class="form-group">
                        <label for="list_name">List Name:</label>
                        <input type="text" class="form-control" name="list_name" id="list_name" required>
                    </div>
                    <div id="flashcards-container">
                        <div class="flashcard-form my-3">
                            <div class="form-group">
                                <label for="flashcard_question_1">Question:</label>
                                <input type="text" class="form-control" name="flashcard_question_1" id="flashcard_question_1" placeholder="Question" required>
                            </div>
                            <div class="form-group">
                                <label for="flashcard_answer_1">Answer:</label>
                                <input type="text" class="form-control" name="flashcard_answer_1" id="flashcard_answer_1" placeholder="Answer" required>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="removeFlashcard(this)">Remove</button>
                        </div>
                    </div>
                    <input type="hidden" name="flashcard_count" id="flashcard_count" value="1">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="addFlashcard()">Add Another Flashcard</button>
                        <button type="submit" class="btn btn-primary">Save List</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Assign List Modal -->
<div class="modal fade" id="assignListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addListModalLabel">Assign List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('assign_lists') }}" method="POST">
                    <div class="form-group my-3">
                        <label for="username">Student Username:</label>
                        <input type="text" list="usernames" class="form-control" name="username" id="username" required>
                        <!-- Datalist for Username Autofill -->
                        <datalist id="usernames">
                            {% for item in usernames %}
                                <option value="{{ item }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group my-3">
                        <label for="listname">List Name:</label>
                        <input type="text" list="listnames" class="form-control" name="listname" id="listname" required>
                        <!-- Datalist for List Autofill -->
                        <datalist id="listnames">
                            {% for item in listnames %}
                                <option value="{{ item }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Assign List</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}