{% extends 'layout.html' %}

{% block body %}
<div class="nav">
    <div class="nav-item">
        <a href="/admin_dashboard">Home</a>
    </div>
    <div class="nav-item">
        <a href="/admin_dashboard/users">User Management</a>
    </div>
    <div class="nav-item">
        <a href="/admin_dashboard/lists">List Management</a>
    </div>
    <div class="nav-item">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

<div class='content-container'>
    <table class='listList'>
        <tr>
            <th id="id_column">List ID</th>
            <th id="list_name_column">List Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
        <tbody>
            {% for list in lists %}
            <tr>
            <td id="id_column">{{ list[0] }}</td>
            <td id="list_name_column">{{ list[1] }}</td>
            <td class="edit">
                <button class="edit-btn" title="Edit" onclick="openListEditModal('{{ list[0] }}', '{{ list[1] }}')">&#9998;</button>
            </td>
            <td class="delete">
                <form action="{{ url_for('delete_item') }}" method="POST">
                    <input type="hidden" name="delete_index" value="{{ list[0] }}">
                    <input type="hidden" name="delete_type" value="list">
                    <button class="delete-btn" title="Delete">&#128465;</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Edit List Modal -->
<div id="editListModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeListEditModal()">&times;</span>
        <form action="{{ url_for('edit_item') }}" method="POST">
            <input type="hidden" name="edit_index" id="edit_index">
            <input type="hidden" name="edit_type" value="list">
            <label for="new_listname">List Name:</label>
            <input type="text" name="new_listname" id="new_listname">
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}