{% extends "layout.html" %}

{% block body %}
<div class="nav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

<div class = "content-container">
    <div class ="login-container">

        <div class ="login-title">
            <h1 class="title">Login</h1>
        </div>

        <div class="login-form">
            <form action="/login" method="post">
                <input name="username" placeholder="Username" type="text" required>
                <input name="password" placeholder="Password" type="password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>

    </div>

    <div class="login-side-img">
        <img src="{{ url_for('static', filename='login-side-img.png') }}" alt="Login-img">
    </div>
</div>

{% endblock %}