{% extends "layout.html" %}

{% block body %}

<div class="nav">
    <div class="nav-item">
        <a href="/student_dashboard">Home</a>
    </div>
    <div class="nav-item">
        <a href="/student_profile">Profile</a>
    </div>
    <div class="nav-item">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="content-container">
    <div class="student-home-title">
        <h1>Welcome, {{ session['username'] }}</h1>
    </div>
    <div class="student-home-content">
        <p>Assigned Lists:</p>
        <div class="student-home-lists">
            {% for list in lists %}
            <div class="student-home-list">
                <!-- <a href="/student_list/{{ list['id'] }}">{{ list['name'] }}</a> -->
            </div>
            {% endfor %}`
    </div>

{% endblock %}