{% extends "layout-student.html" %}

{% block body %}

<div class="content-container">
    <div class="student-home-title">
        <h1>Welcome, {{ session['username'] }}</h1>
    </div>
    <div class="student-home-content">
        <p>Assigned Lists:</p>
        <div class="student-home-lists">
            {% for list in lists %}
            <div class="student-home-list">
                <a href="/student_list/{{ list['id'] }}/0">{{ list['name'] }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}