{% extends 'layout-admin.html' %}

{% block body %}

<div class='content-container'>
    <table class='userList'>
        <tr>
            <th id="id_column">User ID</th>
            <th id="username_column">Username</th>
            <th id="role_column">Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
        <tbody>
            {% for user in users %}
            <tr>
                <td id="id_column">{{ user[0] }}</td>
                <td id="username_column">{{ user[1] }}</td>
                <td id="role_column">{% if user[2] == 1 %} admin {% else %} student {% endif %}</td>
                <td class="edit">
                    <button class="edit-btn" title="Edit" onclick="openUserEditModal('{{ user[0] }}', '{{ user[1] }}', '{{ 'admin' if user[2] else 'student' }}')">&#9998;</button>
                </td>
                <td class="delete">
                    <form action="{{ url_for('delete_item') }}" method="POST">
                        <input type="hidden" name="delete_index" value="{{ user[0] }}">
                        <input type="hidden" name="delete_type" value="user">
                        <button class="delete-btn" title="Delete">&#128465;</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Edit User Modal -->
<div id="editUserModal" class="modal">
    <div class="modal-content">
        <form action="{{ url_for('edit_item') }}" method="POST">
            <input type="hidden" name="edit_index" id="edit_index">
            <input type="hidden" name="edit_type" value="user">
            <label for="new_username">Username:</label>
            <input type="text" name="new_username" id="new_username">
            <label for="new_role">Role:</label>
            <select name="new_role" id="new_role">
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
            <button type="submit">Save</button>
        </form>
        <span class="close" onclick="closeUserEditModal()">&times;</span>
    </div>
</div>
{% endblock %}